.footer {
    position:fixed !important;
    bottom:0px;
    width:100%;
    max-height: 30%;
    overflow: auto;
}

/* NEVER MOVE THIS TWO RULES (TODO: CHECK ANOTHER METHOD IN THE FUTURE) */
.colorTextInput > input , .colorTextInput > input:active, .colorTextInput > input:focus {
    color: #000000 !important;
}

.colorBackgroundInput > input , .colorBackgroundInput > input:active, .colorBackgroundInput > input:focus {
    background-color: #FFFFFF !important;
}
/* ========================= */

:root {
    --margin-card: 15px 0px 0px 20px;
    --initial-margin-card-group: 0px;
}

/* CardUI alternative imgs label fix */
.alt-img-edit > .ui.label {
    display: block !important;
    margin-bottom: 3px !important;
}

/* Paddding Card Content Image */
.imgpadding0 {
    padding: 0em !important;
}

.imgpadding1 {
    padding: 0.2em !important;
}

.imgpadding2 {
    padding: 0.5em !important;
}

.imgpadding3 {
    padding: 0.7em !important;
}

.imgpadding4 {
    padding: 1em !important;
}

.imgpadding5 {
    padding: 2em !important;
}

.ui.disabled.input {
    opacity: 1 !important;
}

/* Padding input card */
.ui.card > div > div > input {
    padding: 0px !important;
}

/* Font Size Style */
.uppercaseInput > input {
    text-transform: uppercase;
}

.lowercaseInput > input {
    text-transform: lowercase;
}

.freeInput > input {
    text-transform: none;
}

/* Font-weight Style */
.weightNormalInput > input {
    font-weight: normal;
}

.weightThickInput > input {
    font-weight: bold;
}

/* Font decoration Style */
.decorationNormalInput > input {
    text-decoration: none;
}

.decorationOverlineInput > input {
    text-decoration: overline;
}

.decorationUnderlineInput > input {
    text-decoration: underline;
}

/* Font Style */
.styleNormalInput > input {
    font-style: normal;
}

.styleItalicInput > input {
    font-style: italic;
}

.styleObliqueInput > input {
    font-style: oblique;
}

.disabled {
    pointer-events:none;
}

/* Hide the NaBar in view mode */
.viewMode {
    display: none !important;
}

body {
    background-color: #f6f6f6;
    height: 100%;
}

/* Fix for display inline if in component, ONLY WORKS ON FIRST CHILD (look at RootComponent for Example) */
.fix-display > div:first-child {
    display: inline-block !important;
}

/* Fix for display inline if in component, IT WORKS ON ALL CHILD ELEMENT */
.fix-all-display  * :not(.dropdown > .icon) {
    display: inline-block !important;
}

/* Fix for dropdown item upload symbol in homepage */
.dropdown-item-hover:hover {
    background: rgba(0,0,0,.05) !important;
    color: rgba(0,0,0,.95) !important;
}

/* Fix for autoexpand of the card */
.ui.card {
    width: auto;
    /* font-size: 12px; */
}

.cardUI {
    margin: var(--margin-card) !important;
    min-width: 50% !important;
    text-align: center;
    font-size: 12px;
}

/* Minify card */
.cardUI .content, .uicardlayout .content {
    padding: 2px !important;
    border-top: 0px !important;
}

/* Center the lemma inside the input of the card */
.cardUI input {
    text-align: center !important;
    width: 100%;
}

/* Watermark input */
.input-water {
    /* visibility: hidden !important; */
    display: none !important;
}

.cardUI-water, .uicardlayout-water {
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 0px !important;
}

.card-image {
    z-index: 1;
}

.watermark-negated {
    z-index: 3;
}

.watermark-all {
    z-index: 2;
}

.watermark-all, .watermark-negated {
    position: absolute !important;
    /* left: 0px; */

    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Typo rules */
.uicardlayout {
    min-height: 100% !important;
    font-size: 12px;
}

/* width 100% for the container DIV of the input */
.uicardlayout div > div {
    width: 100% !important;
}

/* Color picker in typo (draw) */
.colorPickerDraw {
    height: 30px;
    width: 50px;
    margin: auto !important;
    cursor: pointer;
}

/* Fix page align horizontally in typo */
#pageWrapper {
    left: 0;
    right: 0;
    margin: auto;
}

/* Fix for konva/draw typo */
.typoDrawFixCenter > div {
    margin: auto;
}

canvas {
    z-index: 98;
}

.konvajs-content {
    margin: auto;
    /* top: 7px; */
}

/* Img auto-scaling */
.imgFullWidth {
    min-width: 100%;
}

/* Center the lemma inside che input of the layout-card */
.uicardlayout input {
    text-align: center !important;
}

/* Save message in Edit */
.saveMessage {
    top: 100px;
    position: fixed !important;
    z-index: 1000;
    text-align: center;
    max-width: 30%;
    margin: 20px !important;
}

/* Print mode rules */
@media print {
    #pageWrapper {
        top: 0 !important;
    }
    
    .no-print {
        display: none !important;
    }

    .no-print-modal {
        visibility: hidden !important;
    }

    /* TODO: Da vedere se attivare, facendolo printa pagina bianca in tutte le div senza il corretto css */
    /* body {
        visibility: hidden;
    } */

    .section-to-print, .section-to-print * {
        visibility: visible !important;
    }

    .section-to-print {
        position: absolute;
        left: 0;
        top: 0;
    }

    .PreviewTypoDocument {
        /* height: 99px !important; */
        border: 0px !important;
        box-shadow: none !important;
    }

    .konvajs-content {
        top: 0px !important;
    }
}

/* margin page when print */
@page {
    margin: 0mm;
}

/* Disable drag ghost image */
.PreviewTypoDocument {
    margin: auto!important;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* Show the grid in the page */
.gridTypoDocument {
    background-color:#269 !important;
    background-image: linear-gradient(white 2px, transparent 2px),
                    linear-gradient(90deg, white 2px, transparent 2px),
                    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
                    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px) !important;
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px !important;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px !important;
}

/* Multiple Drag select */
.multipleDrag {
    -webkit-box-shadow:inset 0px 0px 0px 5px #f00 !important;
    -moz-box-shadow:inset 0px 0px 0px 5px #f00 !important;
    box-shadow:inset 0px 0px 0px 5px #f00 !important;
}

/* Fix Navbar CSS problem */
.navbar-button > .ui.segment {
    padding: 0px;
}

.navbar-icon i {
    width: 2em !important;
    float: inherit !important;
}

/*  Cursor Pointer per le icone */
.icon-pointer {
    cursor: pointer;
}

/* Custom Dropzone CSS to make it nicer */
.dropzone-beautify {
    width: 200px;
    height: 200px;
    border: 2px rgb(102, 102, 102) dashed;
    border-radius: 5px;
    padding: 10px;
}

/* Da testare su MS, Opera e Safari*/
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    pointer-events: none;
}

/* fix per bug modale causato dalla regola sopra */
.ui.modal {
    height: auto;
}

/* Typo Wysiwyg TextArea */
.demo-editor {
    padding: 10px;
    border: 1px solid #22242626;
    border-radius: 3px;
}

/* Resize image card */
.ui.mini.image { width: 50px; }
.ui.tiny.image { width: 80px; }
.ui.small.image { width: 120px; }
.ui.medium.image { width: 150px; }
.ui.large.image { width: 300px; }
.ui.big.image { width: 450px; }
.ui.huge.image { width: 600px; }
.ui.massive.image { width: 800px; }

/* Fix Dimmer Loader on semantic 0.82 */
.ui.dimmer>.content>* {
    display: inline;
}

/* Fix for card input min width */
input {
    min-width: 20px;
}

/* Fix for card distance from border */
.cardLine {
    margin-left: var(--initial-margin-card-group) !important;
}

/* Fix for icon dimension in homepage header project */
.ui.header > .icon {
    font-size: 2em;
}

/* Fix for nav icon margin */
.nav-icon-margin {
    margin: 0 0 0 .5em !important;
}

/* Edit/Delete button in  preload page */
.preload-manage-button {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 5px;
}

/* Card Content extra alpha 1 */
.extra-alpha-1 {
    color: rgba(0, 0, 0, 1) !important;
}

/* Utils float right */
.float-right {
    float: right !important;
}

/* Utils float left */
.float-left {
    float: left !important;
}

/* Utils no padding */
.no-padding {
    padding: 0px !important;
}

/* Utils no margin */
.no-margin {
    margin: 0px !important;
}

/* Utils no box-shadow */
.no-box-shadow {
    box-shadow: none !important;
}

/* utils full height (100%) */
.full-height {
    height: 100% !important;
}

.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
}

.position-fixed {
    position: fixed !important;
}

.similar-link {
    cursor: pointer;
    color: #4183c4;
    text-decoration: underline;
}